.btn {
    outline: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: relative;

    &:focus,
    &:active {
        outline: 0;
    }

    &:hover {
        bottom: -1px;
    }

    &.btn-link {
        font-weight: 600;
        text-decoration: underline;
    }
}
