footer {
    border-top: 2px solid map-get($theme-colors, primary);
    background-color: map-get($theme-colors, dark);
    padding-top: 3rem;

    div.btn-icon-social {
        background-color: transparent;
        margin-bottom: 1rem;

        a.btn {
            background-color: transparent;
            height: 2rem;
            width: 2rem;
            border: none;
            box-shadow: none;
            outline: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            &.facebook {
                filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(219deg) brightness(104%) contrast(100%);
                background-image: url('../../images/socials/fb.svg');
            }

            &.instagram {
                filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(219deg) brightness(104%) contrast(100%);
                background-image: url('../../images/socials/instagram.svg');
            }

            &.twitter {
                filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(219deg) brightness(104%) contrast(100%);
                background-image: url('../../images/socials/twitter.svg');
            }
        }
    }

    .btn.btn-link {
        color: map-get($theme-colors, secondary);
        font-size: 0.8rem;
        outline: 0;
        box-shadow: none;
        text-decoration: none;
        font-weight: 400;
        padding: 0;
        font-family: $font-header;
        margin: 0;
        display: block;
        text-align: right;
        line-height: 1;
    }

    div.menu-links {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: block;

                &::before {
                    content: " ";
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: map-get($theme-colors, primary);
                    display: inline-block;
                    position: relative;
                    top: -2px;
                    margin-right: 0.5rem;
                }

                a {
                    color: map-get($theme-colors, white);
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }

    div.logo-info {
        margin-bottom: 2rem;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }

        div.logo {
            width: 16rem;
            height: 4rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../images/logo.png');
            margin-bottom: 0.5rem;

        }

        p {
            color: map-get($theme-colors, white);
            font-size: 1rem;
            font-weight: 600;
            margin: 0;
            padding: 0;
        }
    }

    div.copy-right {
        padding: 0.5rem;
        margin-top: 2rem;

        p {
            margin: 0;
            font-weight: 500;
            font-size: 0.8rem;
        }
    }
}
